{%- set geodata = salt['grains.get']('geodata') %}
homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
{%- if geodata is not none %}
  # Location required to calculate the time the sun rises and sets
  latitude: {{ geodata['latitude'] }}
  longitude: {{ geodata['longitude'] }}
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: {{ geodata['elevation'] }}
  # metric for Metric, imperial for Imperial
  unit_system: {{ 'metric' if geodata['use_metric'] else 'imperial' }}
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: {{ geodata['time_zone'] }}
{%- endif %}

recorder:
{%- if db_url is not none %}
  db_url: {{ db_url }}
{%- endif %}

# Show links to resources in log and frontend
introduction:

# Enables the frontend
frontend:

http:
  # Uncomment this to add a password (recommended!)
  # api_password: PASSWORD

# Checks for available updates
updater:

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

# Track the sun
sun:

# Weather Prediction
sensor:
  platform: yr
