# This is a simple service file for systems with systemd to tun HA as user.
#
# For details please check https://home-assistant.io/getting-started/autostart/
#
[Unit]
Description=Home Assistant for %i
After=network.target

[Service]
Type=simple
User=%i
# Enable the following line if you get network-related HA errors during boot
#ExecStartPre=/usr/bin/sleep 60
# Use `whereis hass` to determine the path of hass
ExecStart={{ venv }}/bin/hass --runner -c {{ config_path }}
SendSIGKILL=no
RestartForceExitStatus=100

[Install]
WantedBy=multi-user.target
