{% set home_assistant = salt['grains.filter_by']({
    'Debian': {
        'db_url': 'sqlite:///var/lib/hass/hass.db',
        'config_path': '/etc/hass',
        'deps': [
            'python3-dev',
            'python3-pip',
            'libudev-dev',
            'unzip',
            'virtualenv'
        ],
        'venv': '/var/lib/hass/venv'
    }
}, merge=salt['pillar.get']('home-assistant:lookup')) %}
